.box{
    width: 430px;
    margin: auto;
    padding: 20px;
    background: #f902;
    background:linear-gradient(beige, #f501);
    color: #000;
    text-align:center;
}
img{
    width: 25%;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 10px 20px #000;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: #f505;
    text-shadow: 0 0 20px orange;
    font-weight: 100;
    margin-bottom: 0;
}
h4{
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 3%;
    text-align: left;
    font-weight: 400;
    text-shadow: 1px 2px 1px #000;
}
.present{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}