.box{
    width: 100px;
    height: 100px;
    background: green;
    margin: 10px;
}
body{
    margin: 0;
}
.box-default{
    padding: 10px;
    border: 5px solid black;
}
.box-new{
    box-sizing: border-box;
    padding: 10px;
    border: 5px solid black;
}